<!-- <div id="menu"> -->

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">    
          <h1 class="logo me-auto"><a href="index.html">Arsha</a></h1>
          <nav id="navbar" class="navbar">
            <ul id="contNavbar">
              <!-- MENU USUARIO -->
              <div class="dropdown" id="dropdown_user"></div>
              <!-- CARRITO -->
              <div id="loadShopCart" class="p-3"></div>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
        </div>
      </header><!-- End Header -->
    
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex align-items-center">
    
        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <h1>Tenemos el coche que buscas</h1>
              <h2>La mayor oferta de coches de km0 y segunda mano en España: sea cual sea tu estilo de vida, tenemos un coche para ti.</h2>
              <div class="d-flex justify-content-center justify-content-lg-start">
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
                <a href="https://www.youtube.com/watch?v=xqrumTrBBQU" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
              <img src="<?php echo SITE_PATH ?>view/assets/img/tienda.png" class="img-fluid animated" alt="">
            </div>
          </div>
        </div>
    
      </section><!-- End Hero -->
    
    <!-- </div> -->
    <!-- <script src="<?php echo SITE_PATH ?>view/js/utils.js"></script> -->
    <script src="https://kit.fontawesome.com/238b18d4c2.js" crossorigin="anonymous"></script>