<!-- <div class="recover_html">
	<form id="recover_pass_form" method="post">
		<h1>Recover Password</h1>
		<div class="recover">
			<div class="password_recover">
				<label for="pass_rec" class="label">Password: </label>
				<br>
				<input id="pass_rec" name="pass_rec" type="password" class="input">

					<br>
					<span id="error_password_rec" class="error"></span>
			</div>
            <div class="password_recover_2">
				<label for="pass_rec_2" class="label">Repeat Password: </label>
				<br>
				<input id="pass_rec_2" name="pass_rec_2" type="password" class="input">
					<br>
					<span id="error_password_rec_2" class="error"></span>
			</div>
			<div class="button_forget">
				<input type="button" class="button" id="button_set_pass" value="Set password">
			</div>
		</div>
	</form>
</div> -->

<div class="container p-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card p-5">
          <div class="card-body">
            <h5 class="card-title text-center">Cambio de Contraseña</h5>
            <form id="recover_pass_form" method="post">
              <div class="form-group p-3">
                <label for="password1">Contraseña:</label>
                <input type="password" class="form-control" id="password1" placeholder="Introduce tu contraseña">
              </div>
              <div class="form-group p-3">
                <label for="password2">Confirmar Contraseña:</label>
                <input type="password" class="form-control" id="password2" placeholder="Confirma tu contraseña">
              </div>
              <button type="submit" class="btn btn-primary btn-block" id="button_set_pass" value="Set password">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>